<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="TestSourceDestination">
		<classes>
			<class name="testCases.TestSourceDestination" />
		</classes>
	</test> <!-- Test -->
	<test name="TestFlightBooking">
		<classes>
			<class name="testCases.TestFlightBooking" />
		</classes>
	</test>
</suite> <!-- Suite -->
